{{define "auth/verify_email"}}
{{template "base/head" .}}
    <div class="verifyEmail">
        <form class="verifyEmailBox" aria-label="Verify email form" method="POST" action="/verify_email">
            <p>To verify your email address, click the button below.</p>
            <input type="hidden" name="token" value="{{.Token}}">
            <button class="button">Verify</button>
        </form>
    </div>
{{template "base/footer" .}}
{{end}}