[Unit]
Description=Hopfencloud
After=network.target

[Service]
Type=simple

DynamicUser=yes

RuntimeDirectory=hopfencloud
LogsDirectory=hopfencloud
StateDirectory=hopfencloud
ConfigurationDirectory=hopfencloud

WorkingDirectory=/var/lib/private/hopfencloud/
ExecStartPre=+bash -c "chown -R :$(stat -c %%g /run/hopfencloud) /etc/hopfencloud/config.toml"
ExecStartPre=+bash -c "chown -R $(stat -c %%u /run/hopfencloud):$(stat -c %%g /run/hopfencloud) /var/lib/private/hopfencloud"
ExecStartPre=+bash -c "chmod -R 0740 /var/lib/private/hopfencloud/"
ExecStart=/usr/local/bin/hopfencloud
ExecReload=/usr/bin/kill -s HUP $MAINPID
ExecStop=/usr/bin/kill -s INT $MAINPID

Restart=always
RestartSec=3
# Send SIGTERM to each process
KillMode=control-group
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target