[Unit]
Description=Hopfencloud
After=network.target

###
# Uncomment the database you are depending on
###

#Wants=mysql.service
#After=mysql.service

#Wants=mariadb.service
#After=mariadb.service

#Wants=postgresql.service
#After=postgresql.service


[Service]
Type=simple

DynamicUser=yes

RuntimeDirectory=hopfencloud
LogsDirectory=hopfencloud
StateDirectory=hopfencloud
ConfigurationDirectory=hopfencloud

WorkingDirectory=/var/lib/private/hopfencloud/
ExecStartPre=+bash -c "chown -R :$(stat -c %%g /run/hopfencloud) /etc/hopfencloud/config.toml"
ExecStartPre=+bash -c "chown -R $(stat -c %%u /run/hopfencloud):$(stat -c %%g /run/hopfencloud) /var/lib/private/hopfencloud"
ExecStartPre=+bash -c "chmod -R 0740 /var/lib/private/hopfencloud/"
ExecStart=/usr/local/bin/hopfencloud start
ExecReload=/usr/local/bin/hopfencloud reload $MAINPID
ExecStop=/usr/local/bin/hopfencloud stop $MAINPID

Restart=always
RestartSec=3
# Send SIGTERM to each process
KillMode=control-group
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target