{{define "base/head"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/img/favicon.svg">
    <link rel="stylesheet" href="/static/css/hopfencloud.css">
    <title>{{.PageTitle}}</title>
</head>
<body>
{{if false}}
</body>
</html>
{{end}}
{{end}}