{{define "admin/settings_mail"}}
{{template "base/head" .}}
{{template "menu/topbar" .}}
    <div class="tab-bar">
        <a href="/admin" class="tab-bar-item">General</a>
        <a href="/admin/mail" class="tab-bar-item tab-bar-active">Mail</a>
        <a href="/admin/file_versioning" class="tab-bar-item">File versioning</a>
    </div>
    <div class="settings-background">

    </div>
{{template "base/footer" .}}
{{end}}